@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:  black;
    color: white;
}

hr {
    background-color: rgb(81, 77, 77);
    height: 1px;
    border: none;
}

#navbar {
    background-color: rgb(52, 49, 49);
    height: 80px;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#navbar#search-bar {
    display: flex;
    flex-direction: row;
    justify-self: start;
}

#search-bar input {
    background-color: rgb(30, 30, 30);
    height: 40px;
    width: 700px;
    align-self: center;
    margin-left: 8rem;
    border: 0.5px solid  rgb(174, 173, 173);
    color: white;
    font-size: 16pt;
    padding-left: 2rem;
}

#search-bar input:focus{
    border: none;
    border: 0.5px solid rgb(49, 49, 255);
}

#search-bar i {
    border: 1px solid rgb(174, 173, 173);
    height: 40px;
    width: 80px;
    align-self: center;
    justify-self: flex-end;
    padding-top:12px;
    padding-left: 30px;
}

#search-bar i:hover {
    background-color:  rgb(174, 173, 173);
    cursor: pointer;
}

#top-upload {
    border: 1px solid rgb(174, 173, 173);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 40px;
    width: 80px;
    align-self: center;
    justify-self: flex-end;
    padding-top:12px;
    padding-left: 30px;
    margin: 20px;
    cursor: pointer;
    background-color: rgb(11, 11, 14);
}

#top-upload:hover {
    background-color: rgb(174, 173, 173);
    cursor: pointer;
}

#top-sign-in {
    height: 60px;
    width: 150px;
    align-items: center;
    font-size: 19pt;
    border: 1px solid rgb(174, 173, 173);
    padding-top: 12px;padding-left: 10px;
    margin-right: 20px;
    background-color: rgb(11, 11, 14);
}

#top-sign-in:hover {
    background-color:  rgb(174, 173, 173);
    cursor: pointer;
}

#navbar a {
    text-decoration: none;
    color: white;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    color: white;
}

#nav-menu {
    background-color: rgb(52, 49, 49);
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

#nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-section i {
    margin-right: 1rem;
}

.nav-text {
    display: flex;
    justify-content: start;
    list-style: none;
    height: 50px;
    padding: 1rem;
}

.nav-text a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.nav-text:hover {
    background-color: rgb(117, 112, 112);
    cursor: pointer;
}

.nav-menu-items {
    width: 100%;
}

.nav-icon {
    color: rgb(174, 173, 173);
}

#youtube-logo {
    color: rgb(255, 44, 44);
    padding-right: 0.2rem;
    padding-left: 1.8rem;
}

#navbar-toggle {
    background-color: rgb(52, 49, 49);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#navbar-toggle h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#navbar-toggle a {
    text-decoration: none;
}

.fa-bars {
    color: white;
}

.nav-section {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-sign-in-text {
    display: flex;
    justify-content: start;
    list-style: none;
    height:fit-content;
    padding: 1rem;
}

.nav-sign-in-text a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.nav-sign-in-text:hover {
    background-color: rgb(117, 112, 112);
    cursor: pointer;
}

.nav-sign-in-icon {
    color: rgb(53, 68, 235);
}

.nav-sign-in {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav-left-static {
    background-color: rgb(52, 49, 49);
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    transition: 350ms;
}

#nav-left-static .nav-text:hover {
    background-color: rgb(117, 112, 112);
    cursor: pointer;
}

.nav-left-static-disappear {
    left: -100%;
    transition: 350ms;
}

#nav-left-static li {
    height: 80px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(52, 49, 49);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
}

#nav-left-static a {
    font-size: 11pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
}

#nav-left-static i {
    align-self: center;
    /*need to make these bigger*/
    size: 300%;
}

@media screen and (max-width: 1294px) {
    #navbar {
        flex-wrap: wrap;
        height: 80px;
        overflow: hidden;
    }

    #search-bar input {
        background-color: rgb(30, 30, 30);
        height: 40px;
        width: 330px;
        align-self: center;
        margin-left: 2rem;
        border: 0.5px solid  rgb(174, 173, 173);
        color: white;
        font-size: 16pt;
        padding-left: 2rem;
    }
    
    #search-bar i {
        border: 1px solid rgb(174, 173, 173);
        height: 40px;
        width: 40px;
        align-self: center;
        justify-self: flex-end;
        padding-top:12px;
        padding-left: 2%;
    }

    #top-upload {
        height: 40px;
        width: 40px;
        padding-left:10px;
    }

    #top-sign-in {
       height: 40px;
       width: 80px;
       font-size: 11pt;
       padding-left: 0;
    }

    #nav-left-static {
        display: none;
    }
}

@media screen and (max-width: 746px) {
    #navbar {
        flex-wrap: wrap;
        height: 80px;
        overflow: hidden;
    }

    #search-bar input {
        background-color: rgb(30, 30, 30);
        height: 40px;
        width: 330px;
        align-self: center;
        margin-left: 2rem;
        border: 0.5px solid  rgb(174, 173, 173);
        color: white;
        font-size: 16pt;
        padding-left: 2rem;
    }
    
    #search-bar i {
        border: 1px solid rgb(174, 173, 173);
        height: 40px;
        width: 40px;
        align-self: center;
        justify-self: flex-end;
        padding-top:12px;
        padding-left: 12px;
    }

    #top-upload {
        display: none;
    }

    #top-sign-in {
       display: none;
    }

    #nav-left-static {
        display: none;
    }
}
.main-body-min-navbar{
     display: flex;
     float: left;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: stretch;
     margin-left:200px;
     /* width: auto; */
     transition: 350ms;
}

.main-body-max-navbar{
    display: flex;
    flex-direction: row;
    float: left;
    flex-wrap: wrap;
    margin-left:300px;
    /* width: 1200px; */
    transition: 350ms;
}

#add-video{
    width: 60px;
    height: 20px;
    font-size: 8px;
}

.main-body-min-navbar .video-box-unit-main-page{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    height: 250px;
}
.main-body-min-navbar .video-diplayed-main-page{
    margin-bottom: 10px;
}

.video-ifo{

}

.main-body-min-navbar .video-ifo #divViews{
    color: rgb(185, 185, 185);
}
.main-body-max-navbar .video-box-unit-main-page{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 270px;
    height: 250px;
}
.main-body-max-navbar .video-diplayed-main-page{
    margin-bottom: 10px;
}

.main-body-max-navbar .video-ifo #divViews{
    color: rgb(185, 185, 185);
}
